2nd_hackathon/TestRackUGG/flows/Weidmüller PLC - NodeRed Flow - IOs to MQTT.json
[{"id":"42afd11e.e7ae98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ca65e8b8.806f18","type":"uc-iodataIn","z":"42afd11e.e7ae98","mode":"wi_all_variables","variable":"DIGITALINPUT_1","name":"","pollInterval":"1000","pollIntervalBase":"s","x":280,"y":140,"wires":[["1a13a303.5aed25","7e8af553.b15c94"],[]]},{"id":"1a13a303.5aed25","type":"mqtt out","z":"42afd11e.e7ae98","name":"","topic":"iodata","qos":"","retain":"","broker":"6f5586b.5e604f8","x":470,"y":160,"wires":[]},{"id":"ecb7257c.c7ee38","type":"uc-iodataOut","z":"42afd11e.e7ae98","mode":"wi_single_variable","variableId":"9bed6e56-f4b0-49aa-b07a-7bff6529ae7c","variableName":"DIGITALINPUT_1","name":"","x":430,"y":300,"wires":[["8fd15afc.71b7"]]},{"id":"36497ffa.56058","type":"inject","z":"42afd11e.e7ae98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":230,"y":300,"wires":[["ecb7257c.c7ee38"]]},{"id":"96fdae88.4eda78","type":"inject","z":"42afd11e.e7ae98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":230,"y":340,"wires":[["ecb7257c.c7ee38"]]},{"id":"8fd15afc.71b7","type":"debug","z":"42afd11e.e7ae98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":300,"wires":[]},{"id":"7e8af553.b15c94","type":"debug","z":"42afd11e.e7ae98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"6f5586b.5e604f8","type":"mqtt-broker","z":"","name":"","broker":"172.17.0.3","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]